@import url('https://fonts.googleapis.com/css?family=NanumGothicCoding:300,400,500,700,900&display=swap');

* {
  box-sizing: border-box;
}

.default {
  background-image: url("/images/fond_img.png");
  background-size: cover;
  color: white;
  font-family: 'NanumGothicCoding', monospace;
}

.title {
  font-family: 'NanumGothicCoding', monospace;
  color: rgb(17, 17, 17);
  text-shadow: 0px 0px 10px #fff;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}